.action-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%; /* Makes the button round */
    padding: 0.15rem; /* Adjust padding to fit the content */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .action-button:hover {
    background-color: rgba(173, 173, 173, 0.2); /* Semi-transparent black on hover */
  }

  .play-button {
    font-size: 3.5rem;
    width: 4rem;
    height: 4rem;
  }
