.action-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-primary);
    width: 3rem;
    height: 3rem;
    border-radius: 50%; /* Makes the button round */
    padding: 0.15rem; /* Adjust padding to fit the content */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .action-button:hover {
    background-color: rgba(173, 173, 173, 0.2); /* Semi-transparent black on hover */
  }

  .play-button {
    font-size: 3.5rem;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .visual-bell {
    animation: flash 1s ease-in-out;
  }

  @keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }