.tomato-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  pointer-events: none; /* Prevent interaction with the tomatoes */
  flex:1;
  overflow: hidden;
}

.tomato {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-image: url('/tomato.svg');
  background-size: cover;
  animation: fadeToBucket 5s forwards;
  --row: 0;
}

.tomato.animate-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeToBucket {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(var(--row));
  }
}

.tomato-container.animate-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}