.tomato-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Prevent interaction with the tomatoes */
}

.tomato {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-image: url('/tomato.svg');
  background-size: cover;
  animation: fadeToBucket 5s forwards;
  --top-y: 10;
}

@keyframes fadeToBucket {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(calc(100vh - var(--top-y) * 1vh - 2rem));
  }
}
